@charset "UTF-8";

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;

}

:root {
    --cor1: #28496d;
    --corFont: #fff;
    --corBackNav: #b1002c;
    --corTitulosMini-News: #7faad0;

}

/* 

    Inicio Header

*/

header {
    width: 100%;
    height: 230px;
    background: url("../images/fundo.png");

}

#geral {
    position: relative;
    max-width: 900px;
    height: 230px;
    margin: auto;
    
}

#pt1 {
    position: relative;
    min-width: 600px;
    max-width: 900px;
    float: left;
    z-index: 2;
    
}

#pt1 ul {
    list-style-type: none;
    margin-top: 30px;
        
}

#pt1 ul a, #pt1 ul a:visited {
    text-decoration: none;
    color: white;

}

#pt1 li {
    width: 110px;
    float: left;
    background-color: var(--corBackNav);
    text-align: center;

}

#pt1 li a {
    display: block;
    height: 40px;
    line-height: 40px;
    background: url("../images/divisor.png") repeat-y left center;

}

#pt1 li:hover, #pt1 li a:hover {
    background-color: red;
    font-weight: bold;
    color: rgb(88, 88, 88);

}

#home .home, #brasil .brasil, #fotos .fotos {
    background-color: red;
    font-weight: bold;
    color: whitesmoke;

}

#pt1 ul .primeiro a {
    background: none;

}

#pt1 #img {
    margin-top: 25px;
    margin-bottom: 15px;

}

#pt2 {
    position: absolute;

    right: 0;
    z-index: 1;

}

/* 

    Fim Header

    Inicio Main

*/

body {
    width: 100%;
    height: 100vh;

}

main {
    width: 100%;

}

article {
    width: 900px;
    margin: 20px auto;

}

#direita {
    width: 900px;
    padding-bottom: 10px;
    background: url("../images/fundo-caixa.png");
    
}

.noticias-principais, .noticias-inferiores {
    width: 95%;
    margin: 10px auto;
    padding: 10px;
    background-color: white;

}

.noticias-principais a, .noticias-principais a:visited {
    color: var(--corBackNav);

}

.img-noticias-principais {
    width: 98%;
    height: 450px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: gray url("../images/doutor.jpg") no-repeat center center;
    background-size: cover;

}

.titulos-superiores {
    width: 95%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: var(--cor1);
    color: white;
    padding: 2px 5px;

}

.subtitulos {
    background-color: var(--corBackNav);
    font-weight: bold;
    padding: 2px;

}

.divisoria {
    width: 100%;
    height: 20px;
    background-color: white;

}

.mini-noticias {
    width: 90%;
    height: 70px;
    
}

.titulo-mini-noticias {
    color: var(--corTitulosMini-News);

}

.img-noticia-inferior {
    width: 20%;
    height: 70px;
    float: left;

}

.img-noticia-inferior img {
    width: 100%;
    height: 70px;

}

.txt-noticia-inferior {
    width: 80%;
    height: 70px;
    float: right;
    text-align: left;
    text-indent: 5px;
    font-size: 1em;

}

.txt-noticia-inferior:hover, .txt-noticia-inferior > h2, .titulo-mini-noticias:hover {
    font-weight: bolder;

}

/* 

    Fim Main

    Inicio Footer

*/

footer {
    width: 100%;
    padding: 20px;
    background-color: var(--cor1);

}

#txt-footer {
    width: 900px;
    margin: auto;
    color: whitesmoke;

}