@charset "UTF-8";

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;

}

:root {
    --cor1: #28496d;
    --corFont: #fff;
    --corBackNav: #b1002c;

}

body {
    width: 100%;
    height: 100vh;

}

/* 

    Inicio Header

*/

header {
    width: 100%;
    height: 230px;
    background: url("../images/fundo.png");

}

#geral {
    max-width: 900px;
    height: 230px;
    margin: auto;
    
}

#pt1 {
    min-width: 600px;
    max-width: 950px;
    min-height: 230px;
    float: left;
    margin-left: 15px;
    
}

#pt1 ul {
    list-style-type: none;
    margin-top: 15px;
        
}

#pt1 ul a {
    /* min-width: 90px;
    max-width: 142px; */

}

#pt1 ul a, #pt1 ul a:visited {
    text-decoration: none;
    color: white;

}

#pt1 ul a:hover {
    background-color: red;
    font-weight: bold;

}

#pt1 li {
    min-width: 90px;
    max-width: 142px;
    float: left;
    height: 40px;
    line-height: 40px;
    background-color: var(--corBackNav);
    text-align: center;

}

#pt1 #img {
    margin-top: 25px;
    margin-bottom: 15px;

}

#pt2 {
    min-width: 176px;
    height: 179px;
    float: right;
    margin-right: 12px;

}

/* 

    Fim Header

    Inicio Main

*/

main {
    width: 100%;

}

article {
    max-width: 900px;
    margin: 10px auto;

}

/* 

    Inicio Menu Lateral

*/

#menuLateral {
    width: 230px;
    float: left;

}

#entrevistas {
    width: 100%;
    background: url("../images/fundo-caixa.png");
    margin: 0px auto;
    padding: 10px 0px;

}

.titulos {
    width: 90%;
    margin: auto;
    background-color: var(--cor1);
    color: whitesmoke;
    text-indent: 8px;

}

#entrevistas ul {
    width: 90%;
    margin: 10px auto;
    list-style-type: none;
    list-style-position: inside;
    background-color: white;

}

#entrevistas li {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;

}

#news {
    width: 100%;
    padding: 10px 0px;
    background: url("../images/fundo-caixa.png");
    
}

#formulario {
    width: 87%;
    margin: 10px auto;
    background-color: white;
    padding: 5px;

}

#formulario p {
    font-weight: bold;

}

input[type="email"] {
    padding: 10px;
    margin-bottom: 5px;

}

input[type="email"]:focus {
    outline: none;
    border: 2px solid aqua;

}

input[type="submit"] { 
    background-color: var(--corBackNav);
    padding: 10px;
    color: white;
    border: var(--corBackNav);

}

/* 

    Fim Menu Lateral

*/

#noticias {
    width: 665px;
    height: 800px;
    float: right;

}

#lados {
    border: 1px solid greenyellow;
    width: 100%;
    height: 800px;

}

#esquerda {
    width: 49%;
    float: left;

}

#direita {
    width: 49%;
    float: right;
    
}

.noticiaMaior {
    width: 100%;
    height: 300px;
    margin: auto;
    background: url("../images/fundo-caixa.png");

}

.conteudo {
    width: 90%;
    margin: 10px auto;
    padding: 5px;
    background-color: white;

}

.conteudo img {
    width: 90%;

}

.noticiaMenor {
    width: 100%;
    height: 300px;
    margin: auto;
    margin-top: 10px;
    background: url("../images/fundo-caixa.png");

}

.clear {
    clear: both;

}

.menores {
    width: 90%;
    margin: 10px auto;
    background-color: white;
    
}

.imgMenor img {
    width: 30%;
    float: left;
}

.textoMenor {
    
    text-align: justify;

}