@charset "UTF-8";

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;

}

:root {
    --cor1: #28496d;
    --corFont: #fff;
    --corBackNav: #b1002c;
    --corTitulosMini-News: #7faad0;

}

body {
    width: 100%;
    height: 100vh;

}

/* 

    Inicio Header

*/

header {
    width: 100%;
    height: 230px;
    background: url("../images/fundo.png");

}

#geral {
    position: relative;
    max-width: 900px;
    height: 230px;
    margin: auto;
    
}

#pt1 {
    position: relative;
    min-width: 600px;
    max-width: 900px;
    float: left;
    z-index: 2;
    
}

#pt1 ul {
    list-style-type: none;
    margin-top: 15px;
        
}

#pt1 ul a, #pt1 ul a:visited {
    text-decoration: none;
    color: white;

}

#pt1 ul a:hover {
    background-color: red;
    font-weight: bold;

}

#pt1 li {
    width: 110px;
    float: left;
    height: 40px;
    line-height: 40px;
    background-color: var(--corBackNav);
    text-align: center;

}

#pt1 #img {
    margin-top: 25px;
    margin-bottom: 15px;

}

#pt2 {
    position: absolute;

    right: 0;
    z-index: 1;

}

/* 

    Fim Header

    Inicio Main

*/

main {
    width: 100%;
    height: 100vh;

}

article {
    width: 900px;
    height: 100%;
    margin: 10px auto;

}

/* 

    Inicio Menu Lateral

*/

#menuLateral {
    width: 230px;
    float: left;

}

#entrevistas {
    width: 100%;
    background: url("../images/fundo-caixa.png");
    margin: 0px auto;
    padding: 10px 0px;

}

.titulos {
    width: 90%;
    margin: auto;
    background-color: var(--cor1);
    color: whitesmoke;
    text-indent: 8px;

}

#entrevistas ul {
    width: 90%;
    margin: 10px auto;
    list-style-type: none;
    list-style-position: inside;
    background-color: white;

}

#entrevistas li a, #entrevistas li a:visited{
    text-decoration: none;
    color: black;

}

#entrevistas li a:hover::before {
    content: url("../images/marcador.png");

}

#entrevistas li a:hover {
    color: rgba(87, 87, 87, 0.699);

}


#entrevistas li {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;

}

#news {
    width: 100%;
    padding: 10px 0px;
    background: url("../images/fundo-caixa.png");
    
}

#formulario {
    width: 87%;
    margin: 10px auto;
    background-color: white;
    padding: 5px;

}

#formulario p {
    font-weight: bold;

}

input[type="email"] {
    padding: 10px;
    margin-bottom: 5px;

}

input[type="email"]:focus {
    outline: none;
    border: 2px solid aqua;

}

input[type="submit"] { 
    background-color: var(--corBackNav);
    padding: 10px;
    color: white;
    border: var(--corBackNav);

}

/* 

    Fim Menu Lateral

    Inicio Lado Direito

*/

#direita {
    position: relative;
    width: 660px;
    float: right;

}

.lados {
    width: 325px;
    background: url("../images/fundo-caixa.png");

}

#sub-esquerda {
    float: left;
    
}

#sub-direita {
    float: right;

}

.titulos-superiores {
    width: 95%;
    margin: auto;
    margin-top: 10px;
    background-color: var(--cor1);
    color: white;
    padding: 0px 5px;

}

.subtitulos {
    background-color: var(--corBackNav);
    font-weight: bold;
    padding: 2px;

}

#subtitulo-direita {
    color: whitesmoke;

}

/* 

    Inicio Parte Superior

*/

.noticias-principais, .noticias-inferiores {
    width: 95%;
    margin: 10px auto;
    padding: 10px;
    background-color: white;

}

.noticias-principais::after {
    clear: both;

}

.img-noticias-principais {
    width: 98%;
    height: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: gray url("../images/doutor.jpg") no-repeat center center;
    background-size: cover;

}

#img-noticia-direita {
    background-image: url("../images/taxi.jpg");

}

.divisoria {
    width: 100%;
    height: 20px;
    background-color: white;

}

/* 

    Fim Parte Superior

    Inicio Parte Inferior

*/

.mini-noticias {
    width: 95%;
    height: 70px;
    
}

.titulo-mini-noticias {
    color: var(--corTitulosMini-News);

}

.img-noticia-inferior {
    width: 33%;
    height: 70px;
    float: left;

}

.img-noticia-inferior img {
    width: 100%;
    height: 70px;

}

.txt-noticia-inferior {
    width: 66%;
    height: 70px;
    float: right;
    text-align: left;
    font-size: 0.9em;

}

.txt-noticia-inferior:hover, .titulo-mini-noticias:hover {
    font-weight: bold;

}

/* 

    Footer

*/

footer {
    width: 100%;
    padding: 20px;
    background-color: var(--cor1);

}

#txt-footer {
    width: 900px;
    margin: auto;
    color: whitesmoke;

}