ul {
    padding: 0%;
    margin: 0%;
    list-style-type: none;

}

ul a {
    border: 1px solid black;
    color: black;
    width: 200px;
    height: 40px;
    display: block;
    background: url("../images/menu.png") no-repeat left bottom;
    text-decoration: none;
    text-indent: 40px;
    line-height: 40px;


}

ul a:hover {
    background-position: right bottom;
    color: whitesmoke;

}

#home .home a, #sobre .sobre a{
    background-position: right bottom;
    color: whitesmoke;

}