* {
    padding: 0%;
    margin: 0%;

}

body {
    width: 100%;

}

main {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.507);

}

#geral {
    width: 40%;
    height: 700px;
    margin: auto;
    background: url("../Noticias-Cidade/images/fundo-caixa.png");

}

#noticia {
    width: 40%;
    margin: 10px;
    background-color: white;
    float: left;

}

#noticia2 {
    

}

.conteudonoticia {
    width: 100%;
    height: 80px;
    margin-top: 10px;
    

}

.noticiaimg {
    width: 30%;
    
    float: left;

}

.noticiaimg img {
    width: 100%;
    height: 80px;

}

.noticiatexto {
    width: 70%;
    margin-bottom: 10px;
    float: right;

}

.noticiatexto h3, .noticiatexto p {
    margin: 0px;
    padding: 5px;
    text-align: justify;

}

.noticiatexto h3 {
    text-indent: 10px;

}

.clear {
    clear: both;

}